.parent-box {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.foto {
  width: 30%;
  overflow: hidden;
}

.foto img {
  width: 100%;
}

.description {
  width: 30%;
  margin-left: 20px;
}

.description .info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.description .price {
  font-size: 29px;
  font-weight: 500;
}

.description .title {
  margin: 0;
}

.description .cate {
  color: #acaeb2;
}
