.parent-box {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.foto {
  width: 30%;
  overflow: hidden;
}

.foto img {
  width: 100%;
}

.description {
  width: 30%;
  margin-left: 20px;
}

.description .info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.description .price {
  font-size: 29px;
  font-weight: 500;
}

.description .title {
  margin: 0;
}

.description .cate {
  color: #acaeb2;
}

.description a {
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
  background: rgb(255, 159, 159);
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 0.8s;
}

.description a:hover {
  color: #ffffff;
  background: rgb(221, 135, 135);
}
